<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <div class="micropost_content">
    <div class="user">
      <%= link_to micropost.user.name, micropost.user, class: "micropost_user_name"%>
      <span class="micropost_timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </span>
      <% if current_user == micropost.user %>
        [<%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"}, class: "micropost_delete" %>]
      <% end %>
    </div>
    <div class="content">
      <% if micropost.origin_id != nil %>
       <span style="color: #d3d3d3"><%= micropost.user.name %>さんがリツイート</span><br>
       <%= link_to micropost.origin_name, user_path(micropost.origin_user_id)%><br>
      <% end %>
      <%= simple_format(micropost.content) %>
    </div>
    <div>
      <%= link_to "Retweet", retweet_micropost_path(micropost), class: "retweet btn btn-primary btn-sm" %>
      <span id="follow_favorite_micropost-<%= micropost.id %>">
        <%= render 'users/follow_favorite_form', micropost: micropost.id %>
      </span>
    </div>
  </div>
</li>