<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  
  <div class="micropost_content">
    <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
    <span class="content">
      <%= simple_format(micropost.content) %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
    <% if current_user == micropost.user %>
      [<%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"} %>]
    <% end %>
  </div>
</li>
